.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Upload folder
uploads/uploaded_photos/*
!uploads/uploaded_photos/index.html

uploads/img_concours/*
!uploads/img_concours/index.html

uploads/export_concours/*
!uploads/export_concours/index.html

uploads/export_users/*
!uploads/export_users/index.html