body{
    font-family:nickname, sans-serif;
    font-size:2.8em;
    background-image:url("../img/background.jpg");
    color: white;
    padding-top: 70px;
}


.header > ul  {
    font-size: 30px;
    position: absolute;
    background-color: #2b2b2b;
}

.button {
    background-color: #af3b3c;
    border: 3px solid #fff;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#gagnant{
    position: relative;
    min-height: 130%;
}

#gagnant img{
    position: absolute;
}


#podium{
    display: block;
    margin-left: 28%;
    z-index: :1;
}

#img_gagnant{
    z-index: :2;
    display: block;
    margin-top: 4%;
    margin-left: 39%;  
    overflow:hidden;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%; 
    -moz-box-shadow: 0px 0px 10px #735f5f;
    -webkit-box-shadow: 0px 0px 10px #735f5f;
    -o-box-shadow: 0px 0px 10px #735f5f;
    box-shadow: 0px 0px 10px #735f5f;
}